<h2 class="page-title">Edit Book</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %>
    <a class="btn btn-primary" href="/books">Cancel</a>
    <button class="btn btn-primary" type="submit" >Update</button>
</form>