<header>
    <nav class="header-nav">
        <a class="header-title" href="/">NodeJS</a>
        <ul>
            <li class="header-link"><a href="/authors">All Authors</a></li>
            <li class="header-link"><a href="/authors/new">Add Author</a></li>
            <li class="header-link"><a href="/books">All Books</a></li>
            <li class="header-link"><a href="/books/new">Add Book</a></li>
        </ul>
    </nav>
</header>