<h2>Recently Added Books</h2>

<div>
    <% books.forEach(book => { %>
        <a href="/books/<%= book.id %>">
            <img height="150px" width="100px" style="object-fit:cover" src="<%= book.coverImagePath %>">
        </a>
    <% }) %>
</div>